.jumbotron{

  color: black;
  background-color: yellow;

}

.imagen{
  margin-top: 56px;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: yellow;
  margin-bottom: 0px;
  margin-top: 10px;
}


.card-hotel{
  flex: 1 200px;
  margin-top: 10px;
}


.btn-reserva{
  width: 100%;
  border-radius: 0px;
  }

  .footer-address-icon{
    padding-right: 10px;
  }

  .collapse_espacio {
    margin-bottom: 10px;
  }

  

.redes a:hover{
  text-decoration: none;
}

.tab-content {
    padding-top: 10px;
}

@media only screen and (max-width: 888px){


}
