@yellow: #fffa19;
@red: #DB4338;
@green: #52AA4E;

.margenes(@top, @bottom){
  margin-top: @top;
  margin-bottom: @bottom;
}

.espaciado(@left, @right){
  padding-left:  @left;
  padding-right: @right;
}

.jumbotron {
  color: black;
  background-color: @yellow;
  .margenes(0px,10px);}

.imagen {
  margin-top: 56px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: @yellow;
  .margenes(10px, 0px); }

.card-hotel {
  flex: 1 200px;
  .margenes(10px, 0px); }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  .espaciado (10px, 0px); }

.collapse_espacio {
  margin-bottom: 10px; }

.redes a:hover {
  text-decoration: none; }

.tab-content {
  padding-top: 10px; }
