$yellow: #B39150;
$red: #DB4338;
$green: #52AA4E;

$color: #sdfas;

@mixin margenes($top, $bottom){
  margin-top: $top;
  margin-bottom: $bottom;
}

@mixin espaciado($left, $right){
  padding-left:  $left;
  padding-right: $right;
}

.jumbotron{

  color: black;
  background-color: $green;
  @include margenes (0px, 10px);
  border-radius: 0px;
}

.imagen{
  margin-top: 56px;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: $yellow;
  @include margenes (10px, 0px);
}


.card-hotel{
  flex: 1 200px;
  @include margenes (10px, 0px);
}


.btn-reserva{
  width: 100%;
  border-radius: 0px;
  }

  .footer-address-icon{
    @include espaciado (10px, 0px);
  }

  .collapse_espacio {
    margin-bottom: 10px;
  }



.redes a:hover{
  text-decoration: none;
}

.tab-content {
    padding-top: 10px;
}

@media only screen and (max-width: 888px){


}
