.jumbotron {
  color: black;
  background-color: #fffa19;
  margin-top: 0px;
  margin-bottom: 10px;
}
.imagen {
  margin-top: 56px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #fffa19;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-left: 10px;
  padding-right: 0px;
}
.collapse_espacio {
  margin-bottom: 10px;
}
.redes a:hover {
  text-decoration: none;
}
.tab-content {
  padding-top: 10px;
}
